@page
@{
    Layout = "SiteLayout";
    ViewData["Title"] = "Steven Fuqua";
    /*if (!Context.Request.Headers["X-Requested-With"].Any(s => s == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/SiteLayout.cshtml";
    }*/
}

        <ul class="flex">
            <li>
                <nav class="tile-group">
                    <h1>Personal</h1>
                    <ul class="flex">
                        <li>
                            <a class="tile" href="@Url.Content("~/Home/Resume")">
                                <div class="label">Resume</div>
                            </a>
                        </li>
                        <li>
                            <a class="tile" href="@Url.Content("~/Home/About")">
                                <div class="label">About Me</div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>

            <li>
                <nav class="tile-group">
                    <h1>Projects</h1>
                    <ul class="flex">
                        <li>
                            <a class="tile citrine" href="@Url.Content("~/Projects/Citrine")">
                                <div class="label">Citrine</div>
                            </a>
                        </li>
                        <li>
                            <a class="tile wardrobe hide-name" href="@Url.Content("~/Projects/Wardrobe")">
                                <div class="label">Wardrobe</div>
                            </a>
                        </li>
                        <li>
                            <a class="tile sariph" href="@Url.Content("~/Projects/Sariph")">
                                <div class="label">Sariph.net</div>
                            </a>
                        </li>
                        <li>
                            <a class="tile passkeep" href="@Url.Content("~/Projects/PassKeep")">
                                <div class="label">PassKeep</div>
                            </a>
                        </li>
                        <li>
                            <a class="tile povdisplay">
                                <div class="label">
                                    PoV Display<br />
                                    (Coming soon)
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>
            
            <li>
                <nav class="tile-group">
                    <h1>Contact</h1>
                    <ul class="flex">
                        <li>
                            <a class="tile email" href="mailto:steven@sariph.net">
                                <div class="label">
                                    <p>Email</p>
                                    <p>steven@sariph.net</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="tile email" href="mailto:sfuqua@microsoft.com">
                                <div class="label">
                                    <p>Email</p>
                                    <p>sfuqua@microsoft.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="tile facebook hide-name" href="http://www.facebook.com/sjfuquajr">
                                <div class="label">
                                    Facebook
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="tile twitter hide-name" href="http://www.twitter.com/SansSariph">
                                <div class="label">
                                    <p>Twitter</p>
                                    <p>@@SansSariph</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="tile linkedin hide-name" href="http://www.linkedin.com/in/sjfuquajr">
                                <div class="label">
                                    LinkedIn
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>

        <p class="disclaimer">
            This is a personal website - all opinions and projects on this website are my own and do not reflect any endorsement by Microsoft.
        </p>
